<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Restaurant App</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to EAT24</h1>

            <p><a href="/cuisines">Click here</a> to see all of the cuisines and to add a cuisine.</p>
            <p><a href="/restaurants">Click here</a> to see all of the restaurants and to add a restaurant.</p>
        </div>
    </body>
</html>
