<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">
            <h1>Welcome to EAT24</h1>

            <p><a href="/cuisines">Click here</a> to see all of the cuisines and to add a cuisine.</p>
            <p><a href="/restaurants">Click here</a> to see all of the restaurants and to add a restaurant.</p>
        </div>
    </body>
</html>
