<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Restaurant App</title>
    </head>
    <body>
        <div class="container">
            <h1>Restaurants</h1>

            {% if restaurants is not empty %}
                <p>Restaurants options listed below:</p>
                <ul>
                    {% for restaurant in restaurants %}
                        <li>{{ restaurant.getName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="/restaurants" method="post">
                <br>
                <br>
                <label for="restaurant">Enter The Restaurant's Name:</label>
                <input id="restaurant" class="form-control" name="restaurant" type="text" required><br>

                <label for="rating">Enter The Restaurant's Rating:</label>
                <input id="rating" class="form-control" name="rating" type="number" step="1" min="1" max="5" required>
                <br>
                <label for="cuisine_choice">Choose the Cuisine:</label>
                <select name="cuisine_id" id="cuisine_choice" class="form-control">
                    {% for cuisine in cuisines %}
                        <option value="{{cuisine.getId}}">{{cuisine.getCuisineType}} {{cuisine.getId}}</option>
                    {% endfor %}
               </select><br>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>

            <br><hr>

            <form action='/delete_restaurants' method='post'>
                <button class="btn btn-danger" type='submit'>Delete All Restaurants</button>
            </form>

            <br>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
